html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
/*     margin-bottom: 71px; */
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    max-width: 100vw;
}

a {
    display: inline-block;
    text-decoration: none;
    padding: 0;
}

article {
    width: 100%;
    max-width: 1024px;
    margin: auto 0;
}

#main-header,
#main-footer {
    width: 100%;
}

#main-footer {
    position: fixed;
}
/* Header */
#main-header {
    top: 0;
    background: rgba(255,255,255,0.7);
}
#main-nav a {
    color: black;
}
#main-nav ul {
    display: flex;
    justify-content: space-evenly;
}
.main-nav-option {
    display: inline-block;
    text-justify: center;
    letter-spacing: 0.1em;
}
.main-nav-option a {
    padding: 0.5em;
}

/* Content */
.half {
/*     box-shadow: 0 0 8px 8px white inset; */
    text-align: center;
    height: 100vh;
    width: 100%;
    background-size: cover;
/*     background-size: 100% auto; */
    background-color: rgba(255,255,255,0);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-position: center;
}
#midtown { background-image: url(../images/salon/midtown/midtown-1.jpg); }
#greenway { background-image: url(../images/salon/greenway/greenway-1.jpg); }

#about {
    text-align: center;
    padding: 0 1em;
}
#about a {
    color: lightblue;
}
#about a:active {
    text-align: center;
}

#logo {
    object-fit: contain;
}

/* Footer */
#main-footer {
    background: rgba(255,255,255,0.7);
    padding: 0.25em;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}
#main-footer img,
#main-footer a {
    height: 2em;
}
#main-footer #links {
    height: 2em;
}

#content {
    margin: 0 auto 40px auto;
}

/* team.html */

.team-member {
    width: 100%;
}

.profile-pic {
    position: relative;
    margin: 0;
}
.profile-pic img {
    max-width: 100%;
}
.profile-pic figcaption {
    color: white;
    font-family: 'Charm', cursive;
    margin: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
}
.profile-bio {
    display: none;
    padding: 0.5em;
    text-align: center;
    line-height: 2em;
}
.profile:hover .profile-bio {
    display: block;
}

/* appointment-request.html */

#appointment {
    margin: 3em auto;
}
#appointment-widget {
    display: block;
    margin: 0 auto;
}

@media (min-width: 769px) {
}