html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
/*     margin-bottom: 71px; */
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    max-width: 100vw;
}

a {
    text-decoration: none;
    color: black;
}

#main-header,
#main-footer {
    width: 100%;
}

/* Header */
#main-header {
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
}
#main-nav ul {
    display: flex;
    justify-content: space-evenly;
}
.main-nav-option {
    display: inline-block;
    text-justify: center;
    letter-spacing: 0.1em;
}

/* Content */

#content {
    height: 200vh;
    max-width: 1024px;
    margin: auto;
}

.half {
    box-shadow: 0 0 8px 8px white inset;
    text-align: center;
    height: 50%;
    width: 100%;
    background-size: auto 100%;
/*     background-size: 100% auto; */
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-position: center;
}
#midtown {
    background-image: url(../images/salon/midtown/midtown-1.jpg);
}
#greenway {
    background-image: url(../images/salon/greenway/greenway-1.jpg);
}
#logo {
    position: absolute;
}

/* Footer */
#main-footer a {
    color: white;
    text-decoration: none;
}
#main-footer {
    box-shadow: inset 0 -7px 9px -7px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#main-footer p {
    padding: 0.5em;
    margin: 0;
}
#main-footer img {
    height: 2em;
}
.social-media-links a {
    height: 100%
}
.social-media-links {
    margin: 0.5em;
}
.stack-text {
    box-shadow: inset 0 0 50px black;
    background-size: cover;
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
}

@media (min-width: 1024px) {
}