html {
    position: relative;
    min-height: 100%;
}

* {
    box-sizing: border-box;
    font-family: 'Charm', cursive;
}

body {
    margin-bottom: 55px;
}

ul a,
footer a {
    font-family: 'Josefin Sans', sans-serif;
}

#main-header,
#main-footer {
    width: 100%;
    text-align: center;
}

#main-header {
    padding: 0 1em;
    background: rgb(230,230,230);
}
#main-header ul {
    display: flex;
    flex-direction: column;    
}
#main-header li {
    background: white;
    border-radius: 1em;
    border: 2px solid rgba(0,0,0,0.5);
    margin-bottom: 0.5em;
    text-align: center;
}
#main-header a {
    display: block;
    padding: 0.25em;
}
#main-header a,
#main-footer a {
    width: 100%;
    text-decoration: none;
    color: black;
}
#main-header h1 {
    margin: 0;
}
.main-nav-option:visited {
    color: none;
}

#main-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgb(230,230,230);
}
#main-footer p {
    padding: 0.5em;
    margin: 0;
    color: grey;
}

#main-footer .social-media-links {
    margin: 0.5em;
}

#main-footer img {
    height: 2em;
}